// Brand Colors
$a: #e8ddcb; // "Terra Terra"
$b: #cdb380; // "Terra"
$c: #036564; // "Acqua"
$d: #033649; // "Acqua Profanda"
$e: #031634; // "Abisso"

// Setting the default colors in Bulma
$primary: darken($c, 5%);
$link: $c;
$info: $d;
$success: $c;
// $warning:
// $danger:
$dark: $e;
$text: $a;
$background: $a;
